@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../fonts/opensans.woff') format('woff'), url('../fonts/opensans.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../fonts/opensanssemibold.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../fonts/opensansbold.woff') format('woff'),
    url('../fonts/opensansbold.woff2') format('woff2');
}
