/* Итоговая страница */

.end-page {
  margin-top: 74px;
}

.end-page__logo {
  display: block;
  margin: 0 auto;
}

.end-page__intro,
.end-page__score-text {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  opacity: 0.85;
  color: $text-color;
  letter-spacing: 0.15px;
  line-height: 35px;
  text-align: center;
}

.end-page__intro {
  margin-top: 9px;
}

.end-page__score-text {
  text-align: center;
}

.end-page_button {
  display: block;
  width: 128px;
  height: 42px;
  margin: 40px auto 0 auto;
  font-size: 16px;
  font-weight: 700;
  color: $primary-color;
  letter-spacing: 0;
  opacity: 0.85;
  background: $text-color;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.end-page_button:hover {
  opacity: 0.5;
}

.end-page_button:active {
  opacity: 0.9;
}
